* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* main */
main {
    flex: 1;
}


/* header */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header li {
    list-style: none;
}

header a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

header a:hover {
    color: #aaa;
}

/* hero */
.hero {
    background-color: #aaa;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    color: #fff;
    font-size: 1.8rem;
}

.hero p {
    color: #fff;
}

/* services */
.services {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 10px;
}

.service {
    background-color: #aaa;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service h2 {
    color: #fff;
    font-size: 1.2rem;
}

.service p {
    color: #fff;
    font-size: 0.9rem;
}

/* footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

/* レスポンシブ対応 */
@media(max-width:700px) {
    .services {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .service {
        height: 100px;
        width: 80%;
    }
}

/* form */
.contact-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 50px auto;
    gap: 10px;
}

.contact-form label {
    margin-top: 10px;
}

.contact-form input {
    padding: 6px;
}

.contact-form textarea {
    padding: 6px;
    resize: none;
}

.contact-form button {
    margin-top: 20px;
    padding: 10px;
}

.error-message {
    font-size: 0.8rem;
    color: #f00;
    display: none;
}

/* 復号セレクタ error-messageかつshowを持つ要素に適用されます*/
.error-message.show {
    display: block;
}